@model LoLApiChallenge.Models.ChampionData

<div class="champion-stats-wrap" data-id="@Model.Id">
    <div><img src="@Model.ImageUrl" /></div>
    <div>@Model.Name</div>
    <div>Score: @Model.Kda</div>
    <div>K/D/A</div>
    <div>@Model.Kills / @Model.Deaths / @Model.Assists</div>
</div>