@model LoLApiChallenge.Models.UrfDataModel


<div class="container">
    <div class="row champion-stats-row">
        @foreach (var item in Model.Champions.Select((v, i) => new { i, v }))
        {
            <div class="col-xs-2 col-xs-offset-1">
                <div class="champion-stats-wrap" data-id="@item.v.Id">
                    <div>
                        <img src="@item.v.ImageUrl" />
                    </div>
                    <h4 class="yellow" style="white-space: nowrap;">@item.v.Name</h4>
                    <div>Score: @item.v.Kda.ToString("N0")</div>
                    <div>K/D/A</div>
                    <div>@item.v.Kills.ToString("N0") / @item.v.Deaths.ToString("N0") / @item.v.Assists.ToString("N0")</div>
                </div>
                @{
                    var left = item.i%5 == 4 || item.i%5 == 3 ? "champion-panel-left" : "";
                }
                <div class="champion-panel @left" data-id="@item.v.Id"></div>
            </div>

            if (item.i % 5 == 4)
            {
                <div class="col-xs-1">&nbsp;</div>
            }
        }
    </div>
</div>