@model LoLApiChallenge.Models.ChampionData


<div class="faction">
    <img src="@Model.ImageUrl" />
    <p>@Model.Name</p>
    <p>Games Played: @Model.TotalGames</p>
    <p>Average Kills: @Model.Kills</p>
    <p>Average Deaths: @Model.Deaths</p>
    <p>Average Assists: @Model.Assists</p>
    <p>Largest Crit Strike: @Model.LargestCritStrike</p>
    <p>Total Kills: @Model.TotalKills</p>
    <p>Total Deaths: @Model.TotalDeaths</p>
    <p>Total Assists: @Model.TotalAssits</p>
</div>
