@model LoLApiChallenge.Models.ChampionData

<div class="col-xs-2 champion-stats-wrap champion" data-id="@Model.Id">
    <div><img src="@Model.ImageUrl" /></div>
    <div>@Model.Name</div>
    <div>KDA</div>
    <div>@Model.Kills / @Model.Deaths / @Model.Assists</div>
</div>