@model LoLApiChallenge.Models.ChampionData


<div class="ChampionCenter">
    <div class="row">
        <div class="col-lg-8">Games Played:</div>
        <div class="col-lg-8">@Model.TotalGames.ToString("N0")</div>
    </div>
    <div class="row">
        <div class="col-lg-8">Average Kills:</div>
        <div class="col-lg-8">@Model.Kills.ToString("N0")</div>
    </div>
    <div class="row">
        <div class="col-lg-8">Average Deaths:</div>
        <div class="col-lg-8">@Model.Deaths.ToString("N0")</div>
    </div>
    <div class="row">
        <div class="col-lg-8">Average Assists:</div>
        <div class="col-lg-8">@Model.Assists.ToString("N0")</div>
    </div>
    <div class="row">
        <div class="col-lg-8">Largest Crit Strike:</div>
        <div class="col-lg-8">@Model.LargestCritStrike.ToString("N0")</div>
    </div>
    <div class="row">
        <div class="col-lg-8">Healing Done:</div>
        <div class="col-lg-8">@Model.HealingDone.ToString("N0")</div>
    </div>
    <div class="row">
        <div class="col-lg-8">Total Kills:</div>
        <div class="col-lg-8">@Model.TotalKills.ToString("N0")</div>
    </div>
    <div class="row">
        <div class="col-lg-8">Total Deaths:</div>
        <div class="col-lg-8">@Model.TotalDeaths.ToString("N0")</div>
    </div>
    <div class="row">
        <div class="col-lg-8">Total Assists:</div>
        <div class="col-lg-8">@Model.TotalAssits.ToString("N0")</div>
    </div>
</div>
