@model LoLApiChallenge.Models.FactionData


<div class="faction">
    <img src="@Url.Action("GetImage", "Home", new { name = Model.Name })" />
    <div>@Model.Name</div>
    <div>Average KDA</div>
    <div>@Model.Kills / @Model.Deaths / @Model.Assists</div>
</div>