@model LoLApiChallenge.Models.UrfDataModel

<div class="container">
    <div class="row">
        @foreach (var item in Model.Factions.Select((v, i) => new {v, i}))
        {
            var offset = (item.i%3 == 1 || item.i%3 == 2) ? "col-xs-offset-2" : "";
            <div class="col-xs-5 factions-col">
                <div class="faction" data-id="@item.v.Name">
                    <img src="@Url.Action("GetImage", "Home", new {name = @item.v.Name})"/>
                    <div>@item.v.Name</div>
                    <div>Average KDA</div>
                    <div>@item.v.Kills.ToString("N0") / @item.v.Deaths.ToString("N0") / @item.v.Assists.ToString("N0")</div>
                </div>
                @{
                    var left = item.i%3 == 2 ? "faction-panel-left" : "";
                }
                <div class="faction-panel @left"></div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-16">
            <img src="~/Content/Images/11_1.png" style="margin-top: -60px" />
        </div>
    </div>
</div>